
<p><a href="<%= uri %>">'<%= filename %>'</a> [<%= filesize %>] can be downloaded until <%= expires_on %>.</p>
<p><input type="text" value="<%= uri %>"></p>
<p><a href="<%= url("/") %>">Upload a file</a>.</p>